h5py==2.10.0
nipype
SimpleITK
pyradiomics
tensorflow==2.1.0
tensorflow-addons==0.9.1
keras==2.2.4
pandas
numpy
matplotlib
ipywidgets
nibabel
scipy
glob2
regex
nipype
zipfile36
scikit-learn
PyYAML
argparse
scikit-image
paretoset
elasticdeform
